// Vendors
@import
  '_vendors/bootstrap-custom';

// Components
@import
  '_components/buttons';

// Themes
@import
  '_themes/styleguide';

/* PUT YOUR (S)CSS BELOW THIS LINE */
body{
  font-family:oswald;
  font-weight: 300;
  line-height:200%;
  font-size:14pt;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.page{
  margin-top:50px;
}
.item{
  margin-top:150px;
  margin-bottom:50px;
}
.item#app{
  margin-top:0;
}

// andere pagina's //////////////////////////////

// ingeschreven
.ingeschreven{
  height: 50vh;
}
.ingeschreven h1{
  font-size: 3.5em;
  margin-top:20px;
  margin-bottom: 50px;
}
.ingeschreven p, .ingeschreven a{
  margin-bottom: 50px;
}



// einde andere pagina's ////////////////////////




a{
  cursor: pointer;
}

.img-responsive{
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  width: auto;
}
.btn{
  font-family:oswald;
  font-weight: 300;
  line-height:25pt;
  font-size:12pt;
    box-shadow: none;
  border-color:transparent;
}

h1{
  font-weight: 700;
}

h2{
  font-weight: 400;
  font-size: 4rem;
  margin-top:30px;
}

a{
  color:rgb(80,80,80);
  text-decoration: underline;
}


.nieuwsbrief .form-group{
  position: relative;
}



//carousel
.carousel-item img{
  width: 100%;
  max-width: none;
}
.carousel-item p{
  padding-left: 50px;
}
.carousel{
  height: 500px;
  background-color: $grijs1;
  margin-top: 100px;
  margin-bottom: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  border: 3px solid $grijs3;
  border-radius: 30px;
}
.carousel-indicators li{
  width: 30px; height: 30px;
  border-radius: 50%;
  text-indent: 0;
  text-align: center;
  background-color: $grijs3;
  line-height: 150%;
  float: none;
  display: block;
  margin: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.carousel-indicators li:hover {
  background-color: $lichtgroen;
}
.carousel-indicators .active{
  background-color: $grijs2;
  color: white;
}
.carousel-indicators {
  position: absolute;
  right: -25px;
  display: block;
  margin: 0;
  left: initial;
  top: 50%;
  transform: translateY(-50%);
}



//fietserke
#nieuwsbrief_email, #nieuwsbrief_button{
  height: 50px;
  border-radius: 15px;
  border-width: 1px;
}


#nieuwsbrief_email{
  width: 81%;
  display: inline-block;
  padding-left: 40px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  position: absolute;
  z-index: 1;
  border-right: none;
  left: 0; top:0;
  margin-top:0;
}
 #nieuwsbrief_button{
   margin-left:-5px;
   border-bottom-left-radius: 0;
   border-top-left-radius: 0;
   position: absolute;
   right:0;
   top:0;
   z-index: 5;
   background-color: $groen;
   color: white;
   width: 20%;
   border-left: none;
 }
.fiets {
  z-index: 3;
  position: absolute;
  left:10px;
  top:5px;
  width: 30px;
  -webkit-transition: all 6s ease-in-out;
  -moz-transition: all 6s ease-in-out;
  -o-transition: all 6s ease-in-out;
  -ms-transition: all 6s ease-in-out;
  transition: all 6s ease-in-out;
}

.gefietst{
  left: 9999px;
}

.nieuwsbrief{
  width: 100%;
  position: relative;
  height: 80px;
  overflow: hidden;
}

//progress bar
.progress-bar{
  height:1rem;
  color:#fff;
  padding:20px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  background: -webkit-linear-gradient(90deg, rgb(153,192,125), rgb(203,212,93)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(90deg, rgb(153,192,125), rgb(203,212,93)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(90deg, rgb(153,192,125), rgb(203,212,93)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(90deg, rgb(153,192,125), rgb(203,212,93)); /* Standard syntax */
}

.progress{
  border-radius: 20px;
  margin-top:60px;
}

.bedragnu{
  height:100px;
  position: absolute;
  z-index: 9;
  border-right:2px solid rgb(199,199,199);
  margin-left:150px;
}
.bedragdoel{
  width:100px;
  height:90px;
  position: absolute;
  z-index: 9;
  border-right:2px solid rgb(199,199,199);
  margin-top:-25px;
  margin-left:250px;
  
}
.doel{
  position: absolute;
  margin-top:50px;
  text-align:right
}
.geld{
  margin-top:50px;
}


// navbar 

.navbar-rechts{
  margin-right: 120px;
}
.navbar-fixed {
    top: 0;
    z-index: 100;
    position: fixed;
    transition: all 0.3s ease-in-out;
    // visibility: visible !important;
}
#nav_bar {
	border: 0;
	background-color: $grijs2;
	border-radius: 0px;
	margin-bottom: 0;
  height: 60px;
  margin-top:20px;
   width: 100%;
  //  visibility: hidden;
}
.nav_links {
    margin: 0;
    height: 60px;
    display: table;
}
.nav_links li {
	display: inline-block;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}
.nav_links li a {
	padding: 0 16px;
	color: white;
	text-decoration: none;
}
.navbar-nav img{
  margin: 0 15px;
  width: 60px;
}
.navbar-brand{
  text-decoration: none;
}
#nav-doneer{
  background-color: $lichtgroen;
}
.item::before { //waarom werkt dit niet?? ///////////////////////////////////////////////////////////////////////////////////
  content:"";
  display:block;
  height:100px; /* fixed header height*/
  margin:-100px 0 0; /* negative fixed header height */
}






//footer

footer{
  background-color:$grijs1;
  padding: 0;
  margin-top: 50px;
}

.footer h3{
  font-size: 100px;
  line-height: 150px;

}

.gegevens .fa{
  color: $groen;
}
.gegevens .nieuwsbrief a .fa{
  color: white;
}

input, textarea{
  margin: 20px 0;
}

.submit, .submit-links{
  margin: 10px 0;
  width: 50%;
  background: -webkit-linear-gradient(90deg, rgb(153,192,125), rgb(203,212,93)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(90deg, rgb(153,192,125), rgb(203,212,93)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(90deg, rgb(153,192,125), rgb(203,212,93)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(90deg, rgb(153,192,125), rgb(203,212,93)); /* Standard syntax */
  cursor: pointer;
  transition: all 0.5s;
  color: white;
  font-size: 1.1em;
}
.submit span, .submit-links span{
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.submit span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.submit-links span:before{
  content: '\00ab';
  position: absolute;
  opacity: 0;
  top: 0;
  left: -20px;
  transition: 0.5s;
}
.submit:hover span {
  padding-right: 25px;
}
.submit-links:hover span {
  padding-left: 25px;
}
.submit:hover span:after {
  opacity: 1;
  right: 0;
}
.submit-links:hover span:before {
  opacity: 1;
  left: 0;
}

.inschrijven{
  font-weight: 600;
  margin: 20px 0;
}
.groen{
  background-color: $lichtgroen;
  padding-bottom: 50px;
  padding-top:50px;
}
.groen a{
    color: white;
    text-decoration: none;
}
.groen .links-paginas{
  margin-bottom: 50px;
}
.social-media img{
  width: 20%;
  margin-right:20px;
  max-width: 50px;
}
.social-media{
  vertical-align: middle;
  display: inline-block;
}


//bijdrage 
.nadruk{
  font-weight: 500;
}
.doneer{
  margin-top:50px;
}
.card{
  min-height: 300px;
  position: relative;
  margin-bottom: 20px;
  transition: all 0.3s ease-in-out
}
.card:hover{
  transform:scale(1.1);
}
.doneer > div[class*='col-'] > a{
  text-decoration: none;
  color: inherit;
}
.card-block{
  position: absolute;
  top:50%;
  transform: translateY(-40%);
}
#doneren{
  margin-top:150px;
  margin-bottom: 150px;
}

//nieuws

.col-md-offset-right-1 {
  margin-right: 8.33333333%;
}
.nieuwspost{
  background-color: $grijs1;
  border-radius: 15px;
  // box-sizing: content-box;
}
.nieuws{
  background-image: url("/assets/images/nieuws/nieuws-klimmer.png");
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: 15%;
  padding-top:30px;
}
.nieuwspost h3{
  color: $groen;
}
.nieuws .submit{
  width: 100%;
  margin-bottom: 0;
}
#nieuws-intro{
  margin-bottom: 50px;
}


// start
.start{
  height: 80vh;
}
#start-logo{
  position: relative;
  width: 100%;
}
#start-tekst{
  position: absolute;
  top:20px;
  left: 0;
  width: 100%;
  margin-top:20%;
}
#start-tekst h1{
  font-size: 3.5em;
}
#start-tekst h2{
  margin-left: 50px;
  font-size: 1.4em;
}
#start-navigatie{
  visibility: hidden;
}
#start-navigatie a{
  transition: all 0.3s ease-in-out;
  margin-right: 5px;
  text-decoration: none;
}
#start-navigatie button:hover{
  background-color: $grijs2;
  transform: scale(1.15);
}
#start-navigatie #doneer-button{
  background-color: $lichtgroen;
}
#download img{
  width: 48%;
}

/* Extra small devices (phones, less than 576px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 576px and up) */
  @media (min-width: 576px) { 
  .card{
    min-height: 250px;
  }
  #start-tekst{
    position: relative;
    margin-top:5%;
  }
  #start-tekst h2{
    font-size: 1.2em;
  }
  #start-navigatie{
    visibility: visible;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .groen-inhoud{
    position: absolute;
    bottom:50px;
  }
  .card{
    min-height: 400px;
  }
  #start-tekst h1{
    font-size:7em;
  }
  #start-tekst h2{
    font-size:2.5em;
  }
  #start-tekst{
    margin-top:15%;
  }
 .start{
   margin-top:10%;
 }
  
}
.btn-gradient{ //moet nog aangepast worden!!
  background: -webkit-linear-gradient(90deg, rgb(153,192,125), rgb(203,212,93)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(90deg, rgb(153,192,125), rgb(203,212,93)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(90deg, rgb(153,192,125), rgb(203,212,93)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(90deg, rgb(153,192,125), rgb(203,212,93)); /* Standard syntax */
  text-decoration: none;
  width: 100%;
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
 }