#scroll-to-top {
  $offset: 1.5em; // 16px * 1.5 = 24 px | we zetten dit in een variabele zodat we makkelijk bottom en right gelijk kunnen houden
  bottom: $offset; // $ wil zeggen dat het een variabele is
  cursor: pointer;
  display: none; // verborgen tot je begint te scrollen
  position: fixed;
  right: $offset;
  border-radius: 50%;
  padding: .25rem .5rem !important;
  background-color: $grijs2;
  color: white;
}
#scroll-to-top:hover{
  background-color: $groen;
}