<footer class="item footer" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-9">
                <h3>Contact</h3>
                <div class="row gegevens">
                    <div class="col-sm-12 col-lg-4">
                        <div class="row adres">
                            <div class="col-sm-2">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                            </div>
                            <div class="col-sm-10">
                                Industrieweg 232<br>
                                9030 Gent<br>
                                België
                            </div>
                        </div>

                        <div class="row telefoon">
                            <div class="col-sm-2">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                            </div>
                            <div class="col-sm-10">
                                <p>0800 23  15 06</p>
                            </div>
                        </div>
                        <div class="row mail">
                            <div class="col-sm-2">
                                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                            </div>
                            <div class="col-sm-10">
                                <p>info@gymcity.be</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-10 col-sm-offset-2">
                                <p class="inschrijven">Blijf op de hoogte, schrijf je in voor onze nieuwsbrief!</p>
                                    
                                    <!--Nieuwsbriefknop-->
                                    <form class="form-nieuwsbrief" method="get">
                                        <div class="form-group nieuwsbrief" id="nieuwsbrief">
                                            <input type="email" class="form-control" id="nieuwsbrief_email" placeholder="e-mail">

                                            <a href="/pages/ingeschreven" class="btn" id="nieuwsbrief_button"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
                                            <div class="fiets" id="fiets">
                                                <i class="fa fa-bicycle"  aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </form>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-8">
                        <p>
                            Heb je een vraag of opmerking? Laat het ons weten!
                        </p>
                        <form>
                            
                            <div class=" form-group">
                                <input type="text" class="form-control" id="naam" aria-describedby="emailHelp" placeholder="Jouw naam">
                            
                            
                                <input type="email" class="form-control" id="mail"  placeholder="Je e-mailadres">
                            
                                <textarea class="form-control" id="vraag" rows="4" placeholder="Waarmee kunnen we je helpen?"></textarea>
                                
                                <button class="submit btn pull-right"><span>Verzenden </span></button>
                                <!--<input class="btn pull-right" type="submit" value="Verzenden">-->
                            
                            </div>
                        </form>
                    </div>
                    
                </div>
            </div>
        
            <div class="groen col-sm-12 col-lg-3">
                <div class="groen-inhoud">
                    <div class="links-paginas">
                        <a href="/pages/gebruiksvoorwaarden.html">Gebruiksvoorwaarden</a> <br>
                        <a href="/pages/styleguide.html">Styleguide</a> <br>
                        <a href="/pages/disclaimer.html">Disclaimer</a> <br>
                    </div>

                    <div class="social-media">
                        <a href="http://www.facebook.com"><img src="/assets/images/social_media/icon_facebook.png" alt="facebook"></a>
                        <a href="http://www.instagram.com"><img src="/assets/images/social_media/icon_instagram.png" alt="instagram"></a>
                        <a href="http://www.twitter.com"><img src="/assets/images/social_media/icon_twitter.png" alt="twitter"></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</footer>
