<!--<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary mb-4" role="navigation">
        
            <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
           
            <ul class="nav navbar-nav">
                <li><a class="navbar-brand" href="{{ '/' | relative_url }}">{{ site.title }}</a></li>
            </ul>
         <div class="navbar-rechts container-fluid">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#app" class="nav-item nav-link m-l-1">De app</a></li>
                <li><a href="#nieuws" class="nav-item nav-link m-l-1">Nieuws</a></li>
                <li><a href="#doneer" class="nav-item nav-link m-l-1">Doneer</a></li>    
                <li><a href="#contact" class="nav-item nav-link m-l-1">Contact</a></li>
            </ul>
        </div>
</nav>-->


<nav id='nav_bar' class="navbar navbar-toggleable-md navbar-inverse" role="navigation">
    
    
    <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <ul class="nav navbar-nav">
        <li><a class="navbar-brand" href="{{ '/' | relative_url }}"> <img src="/assets/images/logo.png" alt="logo"><span> {{ site.title }}</span></a></li>
    </ul>
    
    <div class="navbar-rechts container-fluid">
        <ul class='nav_links'>
            <li><a href="#app" class="nav-item nav-link">De app</a></li>
            <li><a href="#nieuws" class="nav-item nav-link">Nieuws</a></li>    
            <li><a href="#contact" class="nav-item nav-link">Contact</a></li>
            <li  id="nav-doneer"><a href="#doneer" class="nav-item nav-link">Doneer</a></li>
        </ul>
    </div>
  </nav>